<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">OpenLearn module for ATutor</name> 
    <description lang="en">This module creates a bridge between OpenLearn and ATutor.This module can be used to import already available content on OpenLearn to ATutor. This module also provides a search facility to search OpenLearn repository. 
	</description> 
    <maintainers>
        <maintainer> 
            <name>Herat</name> 
            <email>heratgandhi@ymail.com</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutor.ca</url> 
    <license>BSD</license> 
	<release> 
        <version>0.1</version> 
        <date>2011-05-14</date> 
        <state>Beta</state> 
        <notes></notes> 
    </release> 
</module>
