<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="0.1"> 
    <name lang="en">OpenLearn module for ATutor</name> 
    <description lang="en">This module creates a link between OpenLearn and ATutor. It can be used to search for open learning resources, import content from OpenLearn into ATutor courses, or to preview content or download it in standard reusable content packages and common cartridges.  
	</description> 
    <maintainers>
        <maintainer> 
            <name>Herat</name> 
            <email>heratgandhi@ymail.com</email> 
        </maintainer>
    </maintainers> 
    <url>http://atutoropenlearn.wordpress.com/</url> 
    <license>GPL</license> 
	<release> 
        <version>1.0</version> 
        <date>2011-08-22</date> 
        <state>Stable</state> 
        <notes>This module requires cURL extension and cron support.</notes> 
    </release> 
</module>
